/**
 * Make sure install user theme extensions
 * Go tweaks/Apperance/Shell and choose Q
 * ~/.themes/Q/gnome-shell/gnome-shell.css
 */

@import url("/usr/share/gnome-shell/theme/gnome-shell.css");
stage {
  font-family: Liberation Sans, Cantarell, Sans-Serif;
  font-size: 12px;
}

#panel {
    color: #ffffff;
    font-family: Liberation Sans, inconsolata;
    font-size: 13px;
    font-weight: normal;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 4px;
    font-family: Liberation Sans, inconsolata;
    color: #ccc;
    transition-duration: 100;
    font-weight: normal;
    font-size: 13px;
}

.panel-button:hover {
    font-weight: bold;
}